body{
  overflow-x: hidden;
  background-color: black;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(70, 25 , 113);
}
.nav .brand{
  width: 25%;
}
.nva .search{
  width: 500px;
}
.nav .cart{
  width: 20%;
}
.nav .search input{
  width: 400px;
}
.nav .search input::placeholder{
  font-weight: bold;
  padding: 5px;
}
.sub_bar{
  background-color: rgb(57, 17 , 94);
}
.sub_bar .items{
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}
.sub_bar .items:hover{
  background-color: black;
}
.nav .brand{
  text-decoration: none;
  color: white;
}