* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(227, 226, 226);
}
.LinkeDin {
  /* display: flex; */
}
.navbar {
  position: absolute;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  /* margin-top: .5rem; */
  padding: 8px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: fixed;
  background-color: white;
}
.items input {
  border: none;
  background-color: lightblue;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
}
.items {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.items .image {
  border-radius: 100%;
}
.dotted-box i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 50px;
    width: 200px; */
  flex-direction: column;
}
.last-content {
  font-size: small;
  text-decoration: underline;
  text-align: center;
  color: rgb(226, 113, 27);
}
.post-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightgrey;
  margin-top: 6rem;
  background-color: white;
  width: 600px;
  gap: 1rem;
  height: 100px;
  border-radius: 5px;
  /* flex-direction: row; */
}
.image-2 img {
  border-radius: 100%;
}
.box-1 input {
  height: 35px;
  text-align: left;
  width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
}
.line {
  border-bottom: 2px solid gray;
  width: 450px;
  left: 342px;
  margin-top: 0.5rem;
  position: absolute;
}
.post-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  /* width: 30%; */
}
.box-image {
  width: 50%;
  border: 1px solid lightgrey;
}
.box-image img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-detail {
  display: flex;
  /* justify-content:baseline; */
  margin-top: 1rem;
  margin-left: 15px;
  align-items: center;
}
.profile-detail img {
  border-radius: 100%;
}
.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
  height: 200px;
  width: 20%;
  right: 10px;
  position: absolute;
  margin-top: 2rem;
  border-radius: 10px;
  border: 2px solid gray;
  /* background-color: aqua; */
  margin-bottom: 2rem;
}
.profile-image-2 {
  position: sticky;
}
.self-img {
  border-radius: 100%;
}
